@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
    background-color: #EDEDEF;
    width: 100%;
	height: 100%;
}


* {
	margin: 0;
	padding: 0;
}

section{
    margin: 60px;
}

p{
    color:#302b2d;
}

.material-icons{
    color: #745397;
}

h4{
    color:#FEFEFF;
    font-size: 210%;
    text-align:center;
    margin: 10px;
}


#saludo{
    color:#ffffff;
    font-size: 300%;
    margin: 10px;
}

#texto{
    color:#ffffff;
    font-size: 150%;
    margin: 10px;
}

.t-stroke {
margin-left: 7px;
font-family: "Oswald";
font-size: 70px;
color: transparent;
-moz-text-stroke-width: 3px;
-webkit-text-stroke-width: 2px;
-moz-text-stroke-color: #000000;
-webkit-text-stroke-color: #ffffff;
}

.t-shadow {
 text-shadow: 3px 3px #8dffcd;
 }

.fondoAmarillo{
    background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
    height: 50vh;
    padding-top: 150px;
    width:100vw;
    height:100vh; 
}

.estudios{
    background-image: url("https://cdn.pixabay.com/photo/2020/05/13/01/22/polygon-5165444_960_720.jpg");
    border: 2px solid #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    margin-top: 50px;
}

.collapsible-body{
    background-color: #F1F0F2;
}


footer{
    text-align: center;
    background-color: #f7f5f5;
    padding: 10px;
    border: 2px solid #000;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
}


nav{
    position: fixed;
    background-color:#f7f5f5;
    border: 1px solid #000;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}

nav p{
    color:#000;
    border-bottom: 3px solid #745397;
    height: 50px;
    font-weight: 300px;
}

.sidenav{
    background: linear-gradient(to top, rgb(97, 67, 133), rgb(81, 99, 149));
}


.sidenav p{
    color:rgb(255, 255, 255);
    border-bottom: 1px solid #f5f1fa;
    height: 40px;
    font-weight: 300px;
}


.avatar{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.waves-effect {
    margin-top: 20px;
    width: 270px;
}


@media (max-width:768px){
    section{
        margin: 20px;
    }

    #saludo{
        font-size: 250%;
        margin: 7px;
        margin-top: 40px;
    }
    
    #texto{
        font-size: 105%;
        margin: 7px;
        font-weight: 600;
    }
    
    
.t-stroke {
    margin-left: 7px;
    font-size: 50px;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 1px;
}

 
}